@use "sass:color";
@use "normalize";

$gray: rgb(157, 161, 172);
$black: rgb(71, 86, 98);
$background: #FFF;
$dark: rgb(246, 171, 25);
$primary: rgb(247, 215, 0);
$secondary: rgb(252, 127, 127);
$wrong: rgb(255, 86, 33);

//Color coding:

$frame:rgb(133, 61, 15);
$glazing: rgba(95, 224, 135, 0.25);
$spacer:#f6a654;
$mats:#d1d1d1;
$backing:#77D1F4;
$additional:rgb(252, 127, 127);
$strainer:#ffe34e;
$artwork:rgb(36, 86, 122);


html {
	font-family: 'Roboto Mono', monospace;
	font-size:100%;
	font-size: 18px;
	font-weight: 350;
	color:$black;
	@media screen and (max-width:70em) {
		font-size: 16px;
	}
	@media screen and (max-width:45em) {
		font-size: 14px;
	}
}
body {
	display: flex;
	align-items: stretch;
	// overflow:hidden;
	background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23d3e1e2' fill-opacity='0.5'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");


img {
	max-width:100%;
	max-height:100%;
}
}
%smallScreen100 {
	@media screen and (max-width: 45em) {
		width:100% !important;
		height:auto !important;
	}
}
h1, h2, h3, h4, h5, h6 {
	font-weight: 430;
}
main {
	width:100%;
	display: grid;
	grid-template-columns: minmax(50ch, 75%) minmax(40ch, 25%);
	@media screen and (max-width:70em) {
		grid-template-columns: 60% 40%;
	}
	@media screen and (max-width:45em) {
		grid-template-columns: 100%;
	}
}
svg {
	width:80%;
	height:auto;
	margin-bottom:-10vh;
	#key {
		display:none;
		visiblity:hidden;
	}
	// [id^="measurement-"] {
	// 	font-size: 3pt;
	// 	word-spacing: 0.5em;
	// }
	// #remainder-title, #measurement-remainder {
	// 	font-size: 3.5pt;
	// }
	// #diagram-note {
	// 	font-size: 2.25pt;
	// 	fill: $gray;
	// 	font-style:italic;
	// }
	// #measurement-rabbet {
	// 	font-size: 5pt;
	// }
	// .x-marks-thespot {
	// 	stroke-width:0.5;
	// 	stroke:#FFF;
	// }
}
section {
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	box-sizing: border-box;
	@media screen and (max-width:45em) {
		width:100%;
		height:auto;
	}
}
.diagram {
	height:100vh;
	overflow:hidden;
	box-sizing: border-box;
	@media screen and (max-width:45em) {
		width:100%;
		overflow:visible;
		height:50vh;
		padding:0;
		svg {
			width:100%;
			max-height:100%;
		}
	}
}
.form {
	border-left:1px solid $gray;
	@media screen and (max-width:45em) {
		width:100%;
		height:50vh;
		border-left:none;
	}
}


%helper {
	display:block;
	z-index: 9999;
	opacity:1;
	transition-property: top, opacity;
	transition-timing-function: ease-in-out;
	transition-duration: 300ms;
	top: 0;
}

form {
	text-align:right;
	margin: 1.5em;
	box-sizing: border-box;
	max-height:100vh;
	section.inputs {
		width:100%;
		padding:0;
		display:grid;
		grid-template-columns: 50% 50%;
		overflow:visible;
		position:relative;
		border:1px solid $black;

		&:not(:last-of-type) {
			border-bottom:0px solid $black;
		}

		&.frame {
			&:before {
				background: $frame;
			}
		}
		&.glazing {
			&:before {
				background: $glazing;
				box-sizing:border-box;
			}
		}
		&.spacer {
			&:before {
				background:$spacer;
			}
		}
		&.matting {
			// padding-left:2em;
			&:before {
				background: rgb(190,190,190);
				background: linear-gradient(180deg, rgba(190,190,190,1) 50%, rgba(209,209,209,1) 50%);
			}
		}
		&.backing {
			&:before {
				background: $backing;
			}
		}
		&.additional {
			&:before {
				background: $additional;
			}
		}
		&.strainer {
			&:before {
				background: $strainer;
			}
		}
		&.artwork {
			&:before {
				background: rgb(36, 86, 122);
			}
		}
	}
	.url {
		display:grid;
		grid-template-columns: minmax(5ch, 10%) 1fr;
		padding:0;
		&:before {
			content:'';
			display:none;
			visibility: hidden;
		}
	}
	.recess {
		display:grid;
		grid-template-columns: 50% 50%;
		margin:0.5em 0;
		padding:0;
		border:0;
		label {
			text-align:center;
			place-self: center;
		}
		input {
			border:3px solid currentColor;
		}
		&:before {
			content:'';
			display:none;
			visibility: hidden;
		}
	}
	.top, .bottom {
		text-align:left;
		label {
			padding-left: 0.25em;
		}
	}
	label {
		box-sizing:border-box;
		// min-width:auto;
		font-size: 80%;
		margin:0 0;
		padding-right: 0.25em;
		color:$black;
	}
	.helptext {
		color: $gray;
		margin-top:0.5em;
		font-size: 0.8em;
		font-style:italic;
		max-width:100%;
		white-space: normal;
		text-align:left;
	}
	input, select {
		color:$black;
		border-radius:0;
		box-sizing:border-box;
		display:block;
		font-size: 1em;
		padding:10px;
		text-align:right;
		border:none;
		min-width:4em;
		background: none;
		border:0;
	}
	select {
		border-top:1px solid $black;
		width:100%;
	}
	input {
		transition-property: color, box-shadow, outline;
		transition-timing-function: ease-in-out;
		transition-duration: 300ms;
		border-top:0;
		border-left:1px solid $black;
		// outline-color:transparent;
		&:focus {
			transition-property: color, box-shadow, outline;
			transition-timing-function: ease-in-out;
			transition-duration: 300ms;
		}
		& + .helper {
			// display:none;
			width:75%;
			z-index:9999;
			position:absolute;
			line-height: 1.2;
			top:-200%;
			right: 105%;
			opacity:0;
			background: color.scale($wrong, $lightness: 80%, $alpha: -25%);
			border-radius: 5px;
			padding: 0.5em;
			box-sizing: border-box;
			text-align:left;
			backdrop-filter:blur(2px);
			color: $wrong;
			transition-delay: 0;
			transition-property: top, opacity;
			transition-timing-function: ease-in-out;
			transition-duration: 100ms;
		}

		&#url {
			width:auto;
			flex:1;
			font-size: 0.7rem;
			min-width:0;
			flex-basis:auto;
			box-sizing:border-box;
			transition:300ms ease;
			background:transparent;
			border:0px;
			box-shadow:inset 10px 0 10px -10px color.scale($gray, $alpha:-10%),
			inset -10px 0 10px -10px color.scale($gray, $alpha:-10%);
			padding-right:0!important;
			&:focus {
				outline:0;
				background:color.scale($gray, $alpha:-80%, $lightness: 60%);
				transition:300ms ease;
			}
		}

		&:invalid {
			color:$wrong;
			box-shadow: 0 0 0 2px $wrong, 0 0 8px 2px color.scale($wrong, $alpha:-50%);
			transition-property: color, box-shadow, outline;
			transition-timing-function: ease-in-out;
			transition-duration: 300ms;
			transition-delay: 1s;

			&:hover {
				z-index: 99;
			}

			&:hover + .helper {
				@extend %helper;
				transition-delay: 0;
			}

			&:focus {
				outline:none;
				& + .helper {
					@extend %helper;
					transition-delay: 1s;
				}
			}
		}
		&[type="text"],
		&[type="button"]
		&[type="select"] {
			word-spacing: 0.5em;
			-webkit-appearance: none;
			width:50%;
			// flex:0;
			padding-right: 10px;
			box-sizing:border-box;
		}
	}
	.bottom {
		border-left:1px solid $black;
	}
	input[disabled] {
		// border-bottom:none;
		-webkit-appearance: none;
		// background:rgb(221, 221, 221);
		color: rgb(46, 46, 46);
		opacity: 1;
		// border-radius: 5px;
		font-size:1.5rem;
		padding:10px;
		box-sizing:border-box;
		transition-property: font-weight, color;
		transition-duration: 200ms;
		transition-timing-function: ease-in;
		&.negative {
			color: rgb(255, 93, 93);
			font-weight:640;
			transition-property: font-weight, color;
			transition-duration: 200ms;
			transition-timing-function: ease-in;
		}
	}


	#url-label {
		flex-basis:4rem;
		flex-shrink:1;
		flex-grow:0;
		text-align:center;
		display:flex;
		align-self: stretch;
		align-items: center;
		justify-content: center;
		border-right:1px solid $black;
	}
	.url {
		margin-top:0.5em;
		margin-bottom:-1px;
		border:1px solid $black;
		font-weight:300;
		transition: font-weight 150ms ease-in;
		&:hover {
			font-weight:700;
			transition: font-weight 150ms ease-in;
		}
	}
	#url-label {
		&:hover,
		& + input:hover {
			cursor:pointer;
		}
		span {
			opacity:1;
			transition:opacity 300ms ease;
		}
		&:before {
			content:'copied';
			color: rgb(50, 231, 122);
			text-transform:uppercase;
			position:absolute;
			opacity:0;
			transition:opacity 500ms ease;
		}
	}
	#url-label.copied {
		span {
			opacity:0;
			transition:opacity 300ms ease;
		}
		& + input {
			color: rgb(50, 231, 122);
		}
		&:before {
			display:block;
			opacity:1;
			transition:opacity 500ms ease;
		}
	}
}

.buttonGroup {
	margin-bottom:0.5em;
	display:block;
	overflow-y:hidden;
}

button {
	background: none;
	// margin: 0.5em 0;
	text-align:center;
	width:100%;
	font-weight: 200;
	padding:0.5em;
	border:1px solid $black;
	display:block;
	transition-property: box-shadow, font-weight;
	transition-duration: 150ms;
	transition-timing-function: ease-in;
	&:hover {
		box-shadow: 0 3px 10px -5px $gray;
		transition-property: box-shadow, font-weight;
		transition-duration: 150ms;
		transition-timing-function: ease-in;
	}
	& + section {
		margin-top: 0.5em;
	}
	&.profile-selected {
		background:none;
		display:flex;
		flex-direction:row;
		align-items: center;
		justify-content: center;
		figure {
			width:50%;
		}
		.name {
			width:50%;
		}
	}
	&#print, &#download {
		width:50%;
		float:left;
	}
	&#print {
		border-right:0;
		// border-right: 2px solid color.scale($primary, $lightness: 60%);
	}
	&:hover {
		cursor: pointer;
		font-weight: 700;
	}
}

//
// #svg-glazing {
// 	fill: $glazing;
// }
// #svg-top,
// #svg-bottom {
// 	fill:$mats;
// 	stroke: #FFF;
// 	stroke-width: 0.5;
// 	stroke-miterlimit:10;
// }
// #svg-spacer {
// 	fill:$spacer;
// }
// #svg-board {
// 	fill:$backing;
// }
// #svg-additional {
// 	fill: $additional;
// }
// #svg-strainer {
// 	fill: $strainer;
// }

.footer {
	font-size: 90%;
}
a {
	color: $gray;
}

canvas {
	display:none;
	visiblity:hidden;
}

@media print {

	@page {
		size: landscape;
	}
	body {
		background:none;
	}

	.url {
		display:none;
	}
	.footer {
		display:none;
	}
	section {
		&.form {
			width:30%;

			form {
				label {
					flex-basis:50%;
				}
				input {
					flex-basis: 50%;
				}
				select {
					-webkit-appearance:none;
					appearance:none;
				}
			}
		}
		&.diagram {
			width:70%;
		}
	}
	button {
		display:none;
	}
}

// Frame selection overlay!
body {
	.overlay {
		display:flex;
		opacity:0;
		position:absolute;
		width: 75%;
		height: 100vh;
		background:rgba(200,200,200, 0.3);
		backdrop-filter: blur(3px);
		z-index:99;
		transition: opacity 200ms ease-in-out;

		@media screen and (max-width:70em) {
			width:60%;
		}
		@media screen and (max-width:45em) {
			width:100%;
			height:100vh;
			background:rgb(255, 255, 255);
		}

		&.show {
			opacity:1;
			transition: opacity 200ms ease-in-out;
		}
		&.hide {
			opacity:0;
			display:none;
			transition: opacity 200ms ease-in-out;
		}
		#branding {
			display:flex;
			max-height:5em;
			flex-direction: row;
			text-align:left;
			figure {
				flex-basis: 33.333333%;
				padding: 1em;
				max-height:5em;
				margin:0;
				img {
					max-height:3em;
				}
			}
			h2 {
				flex-basis: 66.66666%;
				margin:0;
				font-weight:400;
			}
		}
		.close {
			width:100%;
			z-index: 999;
			border-bottom:6px double $black;
			display:block;
			overflow:hidden;
			// padding: 0.25em;
			text-align: right;
			box-sizing: border-box;
			line-height:1;
			height:2rem;
			position:absolute;
			top:0;
			background:rgba(255, 255, 255, 0.75);
			backdrop-filter:blur(4px);
			a {
				display:inline-block;
				border-left: 2px solid $black;
				padding: 0.3em 0.25em 0.25em;
				height:calc(2rem - 6px);
				line-height:1;
				box-sizing: border-box;
			}
			svg#X {
				height:1rem;
				width:1rem;
				margin:0;
				box-sizing: border-box;
				display:inline-block;
				line {
					stroke: $black;
					stroke-width: 10;
				}
			}
		}
		.instructions {
			position:sticky;
			top: 0;
			text-align:center;
			z-index: 99;
			background:rgba(255, 255, 255, 0.75);
			backdrop-filter:blur(4px);
			border-bottom:2px solid $black;
			line-height:1;
			margin:0;
			overflow-x:scroll;
			overflow-y:hidden;
			-ms-overflow-style: none;  /* IE and Edge */
			scrollbar-width: none;  /* Firefox */
			&::-webkit-scrollbar {
				display:none;
			}
			-webkit-overflow-scrolling: touch;
			ul {
				list-style-type: none;
				display:inline-block;
				white-space: nowrap;
				width:auto;
				box-sizing: border-box;
				padding:1em 2em;
				margin:0;
				li {
					display:inline-block;
					a {
						padding:0.5em 1em;
						text-decoration: none;
						background:$primary;
						color:$black;
						border-radius:2em;
						transition: box-shadow 300ms ease-out;
						&:hover {
							box-shadow: 0 3px 10px -5px $gray;
							transition: box-shadow 300ms ease-out;
						}
					}
				}
			}
		}
		.wrapper {
			overflow-y:scroll;
			padding-top: 2em;
			height:100%;
			-webkit-overflow-scrolling: touch;
			scroll-behavior: smooth;
			-ms-overflow-style: none;  /* IE and Edge */
			scrollbar-width: none;  /* Firefox */
			&::-webkit-scrollbar {
				display:none;
			}
		}
		.frame-selector {
			width:80%;
			height:80vh;
			position:relative;
			overflow:hidden;
			align-self: center;
			background:#FFF;
			box-sizing: border-box;
			// box-shadow: 0 0 40px -10px rgba(156, 156, 156, 0.8);
			border: 2px solid $black;
			@media screen and (max-width:70em) {
				width:90%;
				height:90vh;
			}
			@media screen and (max-width:45em) {
				top:0;
				width:calc(100% - 6px);
				height:calc(100vh - 6px);
				background:none;
			}
			.buttons {
				width:100%;
				position:absolute;
				text-align:center;
				padding:1em 0;
				box-sizing: border-box;
				border-top: 2px solid $black;
				z-index: 9999;
				bottom:0;
				left:0;
				background:rgba(255, 255, 255, 0.75);
				backdrop-filter:blur(4px);
				&.show {
					display:block;
				}
				&.hide {
					display:none;
				}
				button.button {
					width:auto;
					padding:0.5em 1em;
					display:inline-block;
					text-decoration: none;
					background:$black;
					color:white;
					box-sizing: border-box;
					// border-radius:2em;
				}
				#clear {
					background:transparent;
					color: $black;
					border: 2px solid;
					font-weight:bold;
				}
			}
		}
		form {
			padding:0;
			height:auto;
			max-height:none;
			section {
				display:flex;
				flex-wrap: wrap;
				flex:1;
				flex-direction: row;
				padding:1em;
				border-bottom:2px solid $black;
				&:before {
					display:none;
				}
				&:last-child {
					border-bottom:0;
					padding-bottom:7em;
				}
				h4 {
					flex-basis:100%;
					text-align:center;
					position:sticky;
					top: 3em;
					background:rgba(255, 255, 255, 0.75);
					backdrop-filter:blur(4px);
					padding:0.5em 0;
					width:100%;
					border-bottom:1px solid $black;
				}
			}
			input[type="radio"] {
				max-width:1rem;
				display:none;
				&:checked+label {
					// border: 1px solid color.adjust($secondary, $alpha:-0.4);
					box-shadow: 0 0 0px 3px $gray;
					background:#FFF;
					transition: box-shadow 300ms ease-out, font-weight 300ms ease-out;
					font-weight:700;
				}
			}
			label {
				flex-basis: calc(20% - 1em);
				min-width: 7em;
				background:none;
				align-self:stretch;
				display:flex;
				flex-direction: column-reverse;
				justify-content: center;
				align-items: center;
				box-sizing: border-box;
				padding:1em;
				margin:0.5em;
				box-shadow: 0 0 -10px 0 $gray;
				// border-radius:1rem;
				transition: box-shadow 300ms ease-in, font-weight 300ms ease-out;
				@media screen and (max-width:70em) {
					flex-basis: calc(25% - 1em);
				}
				@media screen and (max-width:45em) {
					flex-basis: calc(33% - 1em);
				}
				&:hover {
					cursor: pointer;
				}
			}
			figure {
				width:100%;
				flex-basis:100%;
				display:flex;
				align-items: center;
				padding:0;
				margin:1em 0 0;
				align-self:stretch;
				img {
					max-width:100%;
				}
			}
			.name {
				flex-grow: 0;
				flex-shrink:0;
				width:100%;
				box-sizing: border-box;
				text-align:center;
				padding:0.5em 1em;
				// font-weight:700;
				background: $gray;
				// border-radius: 2em;
				color:white;
			}
		}
	}
}
