@use "sass:color";
@use "normalize";

$gray: rgb(157, 161, 172);
$background: #FFF;
$dark: rgb(246, 171, 25);
$primary: rgb(247, 215, 0);

//Color coding:

$frame:rgb(133, 61, 15);
$glazing: rgba(95, 224, 135, 0.25);
$spacer:#f6a654;
$mats:#d1d1d1;
$backing:#77D1F4;
$additional:rgb(252, 127, 127);
$strainer:#ffe34e;
$artwork:rgb(36, 86, 122);


html {
	font-family: 'Anonymous Pro', monospace;
	font-size:100%;
	font-size: 18px;
	@media screen and (max-width:45em) {
		font-size: 14px;
	}
}
body {
	display: flex;
	align-items: stretch;
	background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23c5eaf7' fill-opacity='0.5'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
%smallScreen100 {
	@media screen and (max-width: 45em) {
		width:100% !important;
		height:auto !important;
	}
}
main {
	width:100%;
	display: flex;
	align-items: stretch;
	box-sizing:border-box;
	@media screen and (max-width:45em) {
		flex-direction: column;
		align-items:flex-start;
		// height:90vh;
	}
}
svg {
	width:80%;
	height:auto;
	margin-bottom:-10vh;
	#key {
		display:none;
		visiblity:hidden;
	}
	// [id^="measurement-"] {
	// 	font-size: 3pt;
	// 	word-spacing: 0.5em;
	// }
	// #remainder-title, #measurement-remainder {
	// 	font-size: 3.5pt;
	// }
	// #diagram-note {
	// 	font-size: 2.25pt;
	// 	fill: $gray;
	// 	font-style:italic;
	// }
	// #measurement-rabbet {
	// 	font-size: 5pt;
	// }
	// .x-marks-thespot {
	// 	stroke-width:0.5;
	// 	stroke:#FFF;
	// }
}
section {
	display:flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	@media screen and (max-width:45em) {
		width:100%;
		height:auto;
	}
}
.diagram {
	width:75%;
	height:100vh;
	overflow:hidden;
	@media screen and (max-width:70em) {
		width:60%;
	}
	@media screen and (max-width:45em) {
		width:100%;
		overflow:visible;
		height:50vh;
		padding:0;
		svg {
			width:100%;
			max-height:100%;
		}
	}
}
.form {
	height:100vh;
	overflow:auto;
	width:25%;
	border-left:1px solid $gray;
	@media screen and (max-width:70em) {
		width:40%;
	}
	@media screen and (max-width:45em) {
		width:100%;
		height:50vh;
		border-left:none;
	}
}

form {
	text-align:right;
	padding: 1.5em;
	box-sizing: border-box;
	width:100%;
	max-height:100vh;
	overflow:auto;
	section {
		// white-space: nowrap;
		width:100%;
		padding:0;
		display:flex;
		flex-direction: row;
		// margin:0.5em 0;
		position:relative;
		align-items: center;
		justify-content: center;
		padding-left: 1.5em;
		border-bottom:2px solid $gray;

		&:before {
			content:' ';
			width:1rem;
			height:1rem;
			font-size:0;
			border-radius:50%;
			background-color:yellow;
			position:relative;
			left:-1.5rem;
			// top:50%;
			// left:0.25em;
		}

		&.frame {
			&:before {
				background: $frame;
			}
		}
		&.glazing {
			&:before {
				background: $glazing;
				box-sizing:border-box;
			}
		}
		&.spacer {
			&:before {
				background:$spacer;
			}
		}
		&.matting {
			// padding-left:2em;
			&:before {
				background: rgb(190,190,190);
				background: linear-gradient(180deg, rgba(190,190,190,1) 50%, rgba(209,209,209,1) 50%);
			}
		}
		&.backing {
			&:before {
				background: $backing;
			}
		}
		&.additional {
			&:before {
				background: $additional;
			}
		}
		&.strainer {
			&:before {
				background: $strainer;
			}
		}
		&.artwork {
			&:before {
				background: rgb(36, 86, 122);
			}
		}
		&.recess {
			margin:0.5em 0;
			border-bottom:0;
			padding:0;
			label {
				flex-basis: 40%;
				text-align:center;
			}
			input {
				flex-basis: 60%
			}
			&:before {
				content:'';
				display:none;
				visibility: hidden;
			}
		}
	}
	label {
		display:inline-block;
		flex-basis:60%;
		font-size: 80%;
		margin:0 0;
		padding-right: 0.25em;
		color:#000;
		&:first-child {
			margin-top:0;
		}
	}
	.helptext {
		color: $gray;
		margin-top:0.5em;
		font-size: 0.8em;
		font-style:italic;
		max-width:100%;
		white-space: normal;
		text-align:left;
	}
	input, select {
		border-radius:0;
		display:block;
		font-size: 1em;
		padding:10px 0;
		text-align:right;
		border:none;
		// border-bottom:2px solid $gray;
		margin:auto;
		width: 100%;
		background: color.scale($gray, $alpha: -80%);
	}
	input {
		word-spacing: 0.5em;
		-webkit-appearance: none;
		flex-basis:40%;
		display:inline-block;
	}
	.top, .bottom {
		text-align:left;
		width:50%;
		display:inline-block;
		margin-top:0.5em;
		box-sizing:border-box;
	}
	.top {
		border-right:2px solid $gray;
		padding-right:0.25em;
	}
	.bottom {
		padding-left: 0.25em;
	}
	input[disabled] {
		// border-bottom:none;
		-webkit-appearance: none;
		// background:rgb(221, 221, 221);
		opacity: 1;
		// border-radius: 5px;
		font-size:1.5rem;
		padding:10px;
		box-sizing:border-box;
	}
}

button {
	background: $primary;
	// margin: 0.5em 0;
	text-align:center;
	width:100%;
	padding:0.5em;
	border:none;
	display:block;
	&#print, &#download {
		width:50%;
		float:left;
	}
	&#download {
		background: color.scale($primary, $lightness: 25%);
	}
	&#reset {
		background: color.scale($primary, $lightness: 60%)
	}
	&:hover {
		cursor: pointer;
	}
}

.negative {
	color: rgb(255, 93, 93);
	fill:rgb(255, 93, 93);
}
//
// #svg-glazing {
// 	fill: $glazing;
// }
// #svg-top,
// #svg-bottom {
// 	fill:$mats;
// 	stroke: #FFF;
// 	stroke-width: 0.5;
// 	stroke-miterlimit:10;
// }
// #svg-spacer {
// 	fill:$spacer;
// }
// #svg-board {
// 	fill:$backing;
// }
// #svg-additional {
// 	fill: $additional;
// }
// #svg-strainer {
// 	fill: $strainer;
// }

.footer {
	font-size: 90%;
}
a {
	color: $additional;
}

canvas {
	display:none;
	visiblity:hidden;
}

@media print{@page {size: landscape}
.print, .reset {
	display:none;
}
}
